<ion-header>
  <ion-navbar>
    <ion-title>
      Direccions
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <ion-list> 
    <ion-item-sliding *ngFor="let Direccion of model.Direccions">
      <ion-item>
          <div *ngFor="let field of Direccion.fields">
              <div *ngIf="field.isTitle"><b>{{ field.value }}</b><br></div>
              <div *ngIf="field.isVisibleInList&&!field.isTitle">{{ field.value }}<br></div>
          </div>
          
      </ion-item>
      <ion-item-options>
        <button ion-button color="primary" (click)="itemSelected(Direccion)"><ion-icon name="create"></ion-icon></button>
        <button ion-button color="danger" (click)="delete(Direccion)"><ion-icon name="trash"></ion-icon></button>
      
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab bottom right>
    <button ion-fab (click)="add()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
